body {
 font: normal 0.8rem "Fira Sans", "Helvetica Neue", sans-serif;
  font-size:1rem;
  margin: 1rem 3rem;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  height: 100px;
}

h2 {
  color: white;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #006633;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  padding-top: 30px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

label {
  color: black;
  font-size: 0.8rem;
}

input[type=button], input[type=submit], input[type=reset] {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  width: 20%;
  font-size: 1rem;
  line-height:1rem;
  align: right;
  background-color: #006633; /* maroon */
  color: white;
  float: right;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: Grey; /* maroon */
    color: white;
    float: right;
}

input {
  width: 50%;
  font-size: 0.8rem;
  line-height:1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
    border: 1;
  	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;
  text-transform: uppercase;
}

/* .controls {
  font-size: 0.8rem;
  line-height:1rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
    border: 1;
  	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;
  text-transform: uppercase;
  position: absolute;;
  width: 50%;
  position: absolute;
} */

fieldset {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  box-shadow: 0px 0px 2px rgba(0,0,0,1);
  background-color: rgb(240,240,240);
  width: 45%;
  margin-left: 20px;
  margin-right: 20px;
}

fieldset a {
 font-size: 10px;
 float: Right;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

legend {
   background-color: #006633;
  padding: 0.75rem;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transform: translateX(-1.1rem);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.8);
}

section {
  background-color: grey;
  padding: 0.75rem;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transform: translateX(-1.1rem);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.8);
}



legend:after {
  content: "";
  height: 0;
  width:0;
  background-color: transparent;
  border-top: 0.0rem solid transparent;
  border-right:  0.35rem solid black;
  border-bottom: 0.45rem solid transparent;
  border-left: 0.0rem solid transparent;
  position:absolute;
  left:-0.075rem;
  bottom: -0.45rem;
}

.input {
  float: left;
}

.input.section {
  width: 50%; float: left;
}

.output{
  float: right;
 }

.output.section {
  width: 50%; float: left;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

p {
  text-family: inherit;
  color: black;
  letter-spacing: .09em;
  margin: auto;
}

.help  {
text-family: inherit;
color: black;
letter-spacing: .09em;
margin: 15px
}

.bike  {
text-family: inherit;
color: grey;
letter-spacing: .09em;
margin: 15px;
background: white;
width: 95%;
margin: 5px;
padding: 10px
}

.bike-box  {
text-family: inherit;
color: black;
letter-spacing: .09em;
background: grey;
width: 95%;
margin: 5px;
padding: 10px
}


button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  width: 20%;
  font-size: 1rem;
  line-height:1rem;
  align: right;
  background-color: #7a1113; /* maroon */
  color: white;
  float: right;
}

button {
  transform: none;
  box-shadow: none;
}

button:hover {
  background-color: gray;
  cursor: pointer;
}
button {
    background-color: #7a1113; /* maroon */
    color: white;
    float: right;
  text-transform: uppercase;
}

button active {
    background-color: Grey; /* maroon */
    color: white;
    float: right;
}
/* #show {
  margin-top: 1em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}


#show:target {
  visibility: visible;
  display: block;
  opacity: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
  text-decoration: none;
=======
/* high charts container */
#prechart-container {
    min-width: 20%;
    max-width: 100%;
    height: 500px;
    margin: 1em auto;
    background-color: white
}

#prechart-text {
    min-width: 20%;
    max-width: 100%;
    height: 500px;
    margin: 1em auto;
}
#chart-container {
    min-width: 20px;
    max-width: 100%;
    height: 500px;
    margin: 1em auto;
}

#help-holder {
    padding-top: 30%;
}


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: rgb(240,240,240);;
        margin-left: 12px;
        padding: 5px 11px 0px 6px;
        height: 115px
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
